.gallery-item {
    margin: 10px;
    border: 1px solid rgb(53, 102, 237)757;
    padding: 5px;
    display: inline-block;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.navbar .dark-mode-toggle {
    margin-left: auto;
    padding-right: 20px;
    font-size: 24px;
    cursor: pointer;
}